.uniKittyCorns{
    width: 550px;
    display: flex;
    flex-wrap: wrap;
}

.card-back, .card-front {
    margin: 10px;
    width: 250px;
    height: 250px;
    padding: .25rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

img {
    height: 250px;
    width: 250px;
    border-radius: 5px;
} 

.card h1 {
    color: rgb(89, 62, 169);
    text-shadow: 2px 1px rgba(25, 106, 56, 0.5);
}

.card-back{
    color: rgb(89, 62, 169);
    background-color: rgb(97, 205, 171);
    text-align: center;
    box-shadow: 2px 2px 2px;
    transform: rotateY(180deg);
    position: absolute;
    backface-visibility: hidden;
}
.card-front img:hover{
    box-shadow: 3px 3px 2px rgb(0, 92, 208);
}

.card-front{
    position: relative;
    backface-visibility: hidden;
}

.card{
    display: flex;
    flex-direction: column;
    transition: transform .7s;
    transform-style: preserve-3d;
}

.card.flip {
    transform: rotateY(180deg);
}

p{
    margin: 5px;
}
