.uniKittyCorns{
    width: 550px;
    display: flex;
    flex-wrap: wrap;
    perspective: 600px;
}

.card-face {
    margin: 10px;
    width: 250px;
    height:250px;
    padding: .25rem;
    border-radius: 5px;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.hidden {
    display: none;
}

.card-back{
    background-color: aquamarine;
    text-align: center;
    box-shadow: 2px 2px 2px;
}

img {
    height: 250px;
    width: 250px;
    border-radius: 5px;
} 