* {
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Prompt', sans-serif;
    font-size: 16px;
    background: #1d132c;
    columns: black;
    color: rgb(168, 164, 164);
}

header {
    height: 150px;
    width: 100%;
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom: 2px black solid;
    background-image: url('../assets/blood1.png');
    background-size: 300px;
    background-repeat: no-repeat;
    background-position: 47% 99%;

}
.images{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

img{
    margin: 10px;
    border-radius: 5px;
}

h1 {
    font-family: 'Chonburi', cursive;
    color: rgb(185, 178, 185);
    text-shadow: 2.3px 1px rgb(42, 90, 75);

}

a {
    color: rgb(170, 170, 172);
    text-shadow: 2.3px 1px rgb(0, 0, 0);
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    cursor: default;
    margin: 10px;
}

a:hover {
    color: rgb(97, 205, 171);
    cursor: default;
}

main {
    width: 100%;
    height: auto;
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

button {
    height: 30px;
    background: black;
    color: rgb(170, 170, 172);
    font-family: 'Prompt', sans-serif;
    font-weight: 400;
    border: rgb(97, 205, 171) 3px solid;
    border-radius: 5px;
    margin: 20px;
}

button:hover {
    background:white;
    color: black;
    border: black 3px solid;
    border-radius: 5px;
}

button:focus {
    background: rgb(97, 205, 171);
    color: black;
    border: black 3px solid;
    border-radius: 5px;
}

input {
    background-color: rgb(170, 170, 172);
    color:  #1d132c;
    font-weight: bolder;
}

input.name{
    height: 30px;
}
